<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include '1_head_fr.html' %}
    </head>
    <body>
        {% include '1_navbar_fr.html' %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ url_for('static', filename='assets/ecouteurs.png') }}" alt="Écouteurs sans-fil RAMBA" /></div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: RAMBA-ECOUT-001</div>
                    <h1 class="display-5 fw-bolder">Écouteurs sans-fil</h1>
                    <div class="fs-5 mb-4">
                        <span class="text-decoration-line-through">80€</span>
                        <span>59,99€</span>
                    </div>
                    <p class="lead">Profitez d’un son de haute qualité avec les écouteurs sans-fil RAMBA. Autonomie longue durée, design ergonomique, parfaits pour le sport ou le quotidien. Boîtier de recharge inclus.</p>
                    <form>
                        <div class="mb-3">
                            <label for="optionProduit" class="form-label fw-bold">Options :</label>
                            <select class="form-select mb-3" id="optionProduit" name="optionProduit">
                                <option value="base">Version classique - 59,99€</option>
                                <option value="pro">Version Pro (réduction de bruit active) - 79,99€</option>
                            </select>
                        </div>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Ajouter au panier
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; RAMBA 2025.</p></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
