{% include '1_head_fr.html' %}
<body>
    {% include '1_navbar_fr.html' %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ url_for('static', filename='assets/enceinte.png') }}" alt="RAMBA Bluetooth Speaker" /></div>
                <div class="col-md-6">
                    <div class="small mb-1">SKU: RAMBA-ENC-001</div>
                    <h1 class="display-5 fw-bolder">Bluetooth Speaker</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">€50</span>
                        <span>€24.99</span>
                    </div>
                    <p class="lead">Enjoy powerful and clear sound wherever you go with our compact and stylish Bluetooth speaker. Perfect for all your outings and parties.</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
